.timerState_b{
    border-radius: 2px;
    border: none
}

.Credits{
    transform: translate(0%, 2650%)
}


#txtCred{
    color: rgb(150, 150, 150)
}

#Time{
    width: 150px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}


body{
    background-color: rgb(28, 28, 28)
}

h1{
    color: rgb(255, 255, 255)
}