.timerState_b{
    border-radius: 2px;
    border: none;
    transition-duration: 1s;
}

.timerState_b:hover{
    background-color: rgb(56,188,254);
}

.timerReset_b{
    border-radius: 2px;
    border: none;
    transition-duration: 1s;
}

.timerReset_b:hover{
    background-color: rgb(250, 0, 0);
    color: rgb(0, 0, 0);
}


.Credits{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 37.5px;
}

.Github{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 37.5px;
}


#txtCred{
    color: rgb(150, 150, 150);
}

#Time{
    width: 175px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

body{
    background-color: rgb(28, 28, 28);
}

h1{
    color: rgb(255, 255, 255);
}
